# Dependencies
node_modules
.pnpm-store

# Build output
.next
.turbo
dist
coverage
services/**/src/generated

# Environment
.env
.env.*
!.env.example
!.env.*.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and editor
.DS_Store
Thumbs.db
.idea
.vscode


package-lock.json
yarn.lock
bun.lockb

*.tsbuildinfo